body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

input,
select {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

section {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
}